In [1]:
%matplotlib notebook

# Suppress all warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Import Dependencies
import os
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import random

In [22]:
# Get file path 
# file_path = "..Immigration\immigration statistics.csv"
file_path = "C:\\Users\\linet\\OneDrive\\Desktop\\Immigration\\Immigration\\immigration statistics.csv"
# Load CSV data into a DataFrame
immigration = pd.read_csv(file_path)
print(immigration.shape)
immigration.head()

(42, 6)

,Year,Immigrants Obtaining Lawful Permanent Resident Status,Refugee Arrivals,Noncitizen Apprehensions,Noncitizen Removals,Noncitizen Returns
0,1980,"524,295","207,116","910,361","18,013","719,211"
1,1981,"595,014","159,252","975,780","17,379","823,875"
2,1982,"533,624","98,096","970,246","15,216","812,572"
3,1983,"550,052","61,218","1,251,357","19,211","931,600"
4,1984,"541,811","70,393","1,246,981","18,696","909,833"

In [28]:
# Group by 'Year' and sum 'Refugee Arrivals'
yearly_refugee_arrivals = immigration.groupby('Year')['Refugee Arrivals'].sum()
yearly_refugee_arrivals

Year
1980     207,116
1981     159,252
1982      98,096
1983      61,218
1984      70,393
1985      67,704
1986      62,146
1987      64,528
1988      76,483
1989     107,070
1990     122,066
1991     113,389
1992     115,548
1993     114,181
1994     111,680
1995      98,973
1996      75,421
1997      69,653
1998      76,712
1999      85,285
2000       72,165
2001       68,920
2002       26,785
2003       28,286
2004       52,840
2005       53,738
2006       41,094
2007       48,218
2008       60,107
2009       74,602
2010       73,293
2011       56,384
2012       58,179
2013       69,909
2014       69,975
2015       69,920
2016       84,989
2017       53,691
2018       22,405
2019       29,916
2020       11,840
2021       11,454
Name: Refugee Arrivals, dtype: object

In [29]:
# Find the year with the maximum refugee arrivals
year_with_most_arrivals = yearly_refugee_arrivals.idxmax()
year_with_most_arrivals

1982

In [31]:
year_with_least_arrivals = yearly_refugee_arrivals.idxmin()
year_with_least_arrivals

1994

In [18]:
# Get file path 
# file_path1 = "..Immigration\poverty gap.csv"
file_path1 = "C:\\Users\\linet\\OneDrive\\Desktop\\Immigration\\Immigration\\poverty gap.csv"
# Load the CSV file into a DataFrame
try:
    poverty = pd.read_csv(file_path1, header=1)  
    print(poverty)  # Print the first few rows of the DataFrame
except pd.errors.ParserError as e:
    print(f"ParserError: {e}")

               Total, % points, 2021
Category                       Total
Hungary                         37.9
Japan                           36.7
Costa Rica                      36.5
United Kingdom                  35.6
Norway                          35.6
Italy                           34.7
United States                   34.1
Spain                           33.1
Austria                           33
Greece                          32.7
Israel                          32.6
Latvia                          32.4
Korea                           31.9
Luxembourg                      31.3
Netherlands                     30.8
Lithuania                       29.4
France                          29.3
Canada                          27.6
Estonia                         27.1
Poland                          26.9
Portugal                        26.8
Türkiye                         26.3
Slovak Rep.                     25.3
Sweden                          22.2
Belgium                         22.1
Slovenia                        22.1
Czechia                           22
Finland                         21.5
Ireland                         19.3

In [19]:
# Get file path 
# file_path2 = "..Immigration\income inequality.csv"
file_path2 = "C:\\Users\\linet\\OneDrive\\Desktop\\Immigration\\Immigration\\income inequality.csv"
# Load the CSV file into Dataframe
try:
    income = pd.read_csv(file_path2, header=1)  
    print(income)  # Print the first few rows of the DataFrame
except pd.errors.ParserError as e:
    print(f"ParserError: {e}")

               Gini coefficient: 0 = complete equality; 1 = complete inequality, 2021
Category        Gini coefficient: 0 = complete equality; 1 = c...
Costa Rica                                                  0.487
Türkiye                                                     0.433
United States                                               0.375
Lithuania                                                   0.366
United Kingdom                                              0.354
Israel                                                      0.348
Latvia                                                      0.343
Japan                                                       0.338
Italy                                                        0.33
Korea                                                       0.329
Estonia                                                     0.321
Spain                                                        0.32
Portugal                                                    0.313
Greece                                                      0.312
France                                                      0.298
Netherlands                                                 0.297
Canada                                                      0.292
Ireland                                                     0.291
Sweden                                                      0.286
Norway                                                      0.285
Luxembourg                                                  0.284
Austria                                                     0.281
Hungary                                                     0.278
Finland                                                     0.273
Poland                                                      0.261
Belgium                                                     0.256
Czechia                                                     0.255
Slovenia                                                    0.242
Slovak Rep.                                                 0.217

In [20]:
# Get file path 
# file_path3 = "..Immigration\foreign-born employment.csv"
file_path3 = "C:\\Users\\linet\\OneDrive\\Desktop\\Immigration\\Immigration\\foreign-born employment.csv"
# Load the CSV file into Dataframe 
try:
    foreign = pd.read_csv(file_path3, header=1)  
    print(foreign)  # Print the first few rows of the DataFrame
except pd.errors.ParserError as e:
    print(f"ParserError: {e}")

               Total, % of foreign-born population, 2022
Category                         Foreign-born employment
Iceland                                             82.9
New Zealand                                         82.7
Czechia                                               81
Hungary                                             80.6
Slovak Rep.                                         78.3
Israel                                              77.9
Portugal                                            77.8
Australia                                           77.2
Ireland                                               77
United Kingdom                                      75.8
Chile                                               75.5
Switzerland                                         75.3
Canada                                              75.2
Poland                                              75.1
Estonia                                             74.7
Luxembourg                                          74.2
Norway                                              73.2
United States                                       72.6
Denmark                                             72.6
Lithuania                                           70.6
Finland                                             70.4
Netherlands                                         70.3
Austria                                             70.2
Germany                                             69.8
Slovenia                                            69.8
Sweden                                              68.8
Latvia                                              68.3
Spain                                               63.5
Italy                                               62.4
France                                              61.6
Belgium                                             61.5
Greece                                              60.9
Mexico                                              51.7